<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>625288881537-0pn4u5rh2sk6jtjvurupo1a6qoiecdmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625288881537-0pn4u5rh2sk6jtjvurupo1a6qoiecdmp</string>
	<key>API_KEY</key>
	<string>AIzaSyD0sdwdGwC-uvqU2jUxMjQ11u88sTFNvKk</string>
	<key>GCM_SENDER_ID</key>
	<string>625288881537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nkb.studyNotification</string>
	<key>PROJECT_ID</key>
	<string>sejongstudyhelper</string>
	<key>STORAGE_BUCKET</key>
	<string>sejongstudyhelper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625288881537:ios:76b0e28705c62dd1</string>
	<key>DATABASE_URL</key>
	<string>https://sejongstudyhelper.firebaseio.com</string>
</dict>
</plist>